# Build
build
dist
out
storybook-static

# npm, Yarn
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

# IDE, OS, Text editor
Thumbs.db
._*
.DS_Store
.cache
.idea
.project
.settings
.tmproj
.vscode
*.sublime-project
*.sublime-workspace

# Server
.htaccess
.next
.nuxt

# Misc
bower_components
coverage
jspm_packages
lib-cov
logs
pids
private.*
sw.*
.CVS
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.git
.grunt
.hg
.lock-wscript
.node_repl_history
.nyc_output
.pnp
.pnp.js
.serverless
.svn
*.bak
*.diff
*.err
*.exe
*.log
*.orig
*.pid
*.pid.lock
*.rej
*.sass-cache
*.seed
*.swo
*.swp
*.tgz
*.vi
*~
